<p>Olá <%= @resource.email %>!</p>

<p>Se você pediu para trocar a senha, clique nesse link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu para trocar, por favor, ignore este email.</p>
<p>Sua senha não será modificada caso você não clique no link para mudar.</p>
